<!DOCTYPE html>
<html>
<head>
  <title>E3plus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--add things you need-->
</head>
<body>

  <!--add things you need-->

  <!--error message when login fail-->
  <!--just change html tags by yourself-->
  <p style="color: red"><%= flash[:notice] %></p>

  <!--rails will replace yield with corresponding html files in app/views-->
  <%= yield %>

</body>
</html>
